
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div>
    <h2 align="center">Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)">
        <table align="center">
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <td><input type="text" class="form-control" placeholder="Enter empName" name="empName" ngModel
                            required /></td>
                </div>

            </tr>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                    <td><input type="text" class="form-control" placeholder="Enter salary" name="salary" ngModel
                            required /></td>
                </div>
            </tr>
            <tr>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-menu-down"></i></span>

                    <select name="gender" class="form-control" ngModel required>
                        <option value="" selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </tr>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <td><input type="date" class="form-control" name="doj" ngModel required /></td>
                </div>
            </tr>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>

                    <select name="country" class="form-control" ngModel>
                        <option value="" selected>Select Country</option>
                        <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}
                        </option>

                    </select>
                </div>
            </tr>

            <tr>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

                    <input type="text" class="form-control" placeholder="Enter email" name="emailId" ngModel
                        #emailId="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
                    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="error"
                        style="color: red;">
                        <div *ngIf="emailId.hasError('required')">Email is required.</div>
                        <div *ngIf="emailId.hasError('pattern')">Enter a valid email.</div>
                    </div>
                </div>

            </tr>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input type="text" class="form-control" placeholder="Enter MobileNo" name="phoneNumber" ngModel
                        #phoneNumber="ngModel" required  maxlength="20" />
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error"
                        style="color: red;">
                        <div *ngIf="phoneNumber.hasError('required')">Mobile Number is required.</div>
                        <div *ngIf="phoneNumber.hasError('pattern')">Enter a valid 10-digit number starting with 6, 7,
                            8, or 9.</div>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Enter password" name="password" ngModel
                        #password="ngModel" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" maxlength="10" />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error"
                        style="color: red;">
                        <div *ngIf="password.hasError('required')" style="color: red;">Password is required.</div>
                        <div *ngIf="password.hasError('pattern')" style="color: red;">Password must contain at least 8
                            characters, including 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special symbol.
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    <select name="department" ngModel>
                        <option value="" selected>Select Department</option>
                        <option value="{{department.deptId}}" *ngFor="let department of departments">
                            {{department.deptName}}</option>
                    </select>
                </td>
            </tr>

            <tr>

                <td class="text-center">
                    <div>
                        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>



<!--
<h3 align="center">Registration Form</h3>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
    <table align="center">
        <tr>
            <td>EmpName</td>
            <td><input type="text" name="empName" ngModel /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" name="salary" ngModel /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender" ngModel >
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>DateOfJoin</td>
            <td><input type="date" name="doj" ngModel /></td>
        </tr>
        
        <tr>
            <td>Country</td>
            <td>
                <select name="country" ngModel >
                    <option value="" selected>Select Country</option>
                    <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>EmailId</td>
            <td><input type="text" name="emailId" ngModel /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" ngModel /></td>
        </tr>
        <tr>
            <td>Department</td>
            <td>
                <select name="department" ngModel >
                    <option value="" selected>Select Department</option>
                    <option value="{{department.deptId}}" *ngFor="let department of departments">{{department.deptName}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Register</button>
            </td>
        </tr>
    </table>
</form>
-->
