<h3>Welcome {{emailId}}!</h3>
<br>
<h1>Employees Details</h1>
<div>
    <table border="2px">
        <thead>
            <tr>
                <th>empId</th>
                <th>empName</th>
                <th>salary</th>
                <th>gender</th>
                <th>doj</th>
                <th>country</th>
                <th>emailId</th>
                <th>experience</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.empId }}</td>
                <td>{{emp.empName | gender: emp.gender | uppercase}}</td>
                <td>{{emp.salary | currency:"INR"}}</td>
                <td>{{emp.gender | lowercase}}</td>
                <td>{{emp.doj | date:'dd-MMM-yyyy'}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.emailId}}</td>
                <td>{{emp.doj | exp}}</td>
            </tr>
        </tbody>
    </table>
</div>
