<div>
    <h2>Login Form</h2>

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
        <table>
            <tr>
                <td>Enter EmailId</td>
                <td><input type="text" name="emailId" ngModel /></td>
            </tr>
            <tr>
                <td>Enter Password</td>
                <td><input type="password" name="password" ngModel /></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Login</button></td>
            </tr>
        </table>
    </form>
</div>
