
<div class="container row">
  <div class="col-md-12">
    <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChanged($event)">
    <input type="text" name="category" [(ngModel)]="category" placeholder="Enter category" />
  </div>
  <div class="col-md-6">
    <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
    <div *ngIf="message">{{ message }}</div>
  </div>
</div>
<hr />
<hr />
<hr />



<hr />


<div class="container row">
  <div class="col-md-6">
    <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
  </div>
  <div class="col-md-6">
    <input type="button" (click)="getImage()" value="Get Image">
  </div>
</div>

<div class="container row">
  <div class="col-md-12">
    <div *ngIf="retrievedImage">
      <img [src]="retrievedImage">
    </div>
  </div>
</div>

<br>
<br>
<hr/>






<!-- Button to get all images -->
<div class="container row">
  <div class="col-md-6">
    <input type="button" (click)="getAllImages()" value="Get All Images">
  </div>
</div>

<!-- Display the image using an img tag with the base64-encoded image data -->
<!-- <div *ngFor="let image of allImages">
  <ng-container *ngIf="image.picByte">
    <h3>Name: {{ image.name }}</h3>
    <p>Type: {{ image.type }}</p>
    <p>Category: {{ image.category }}</p>
    <img [src]="image.picByte" alt="{{ image.name }}">
    <hr />
  </ng-container>
</div> -->


<!--
<div class="container row">
  <div class="col-md-12">
    <h1>All Images</h1>
    <div *ngFor="let image of allImages">
      <img *ngIf="image.picByte" [src]="image.picByte" alt="{{ image.name }}">
      <hr />
    </div>
  </div>
</div>
-->


<!-- Display the image using an img tag with the base64-encoded image data -->
<div *ngFor="let image of allImages">
  <ng-container *ngIf="image.picByte">
    <h3>Name: {{ image.name }}</h3>
    <p>Type: {{ image.type }}</p>
    <p>Category: {{ image.category }}</p>
    <img [src]="image.picByte" alt="{{ image.name }}">
    <hr />
  </ng-container>
</div>


<hr/>
<hr/>

<br>
<br>
<!-- Button to get images by category -->
<div class="container row">
  <div class="col-md-6">
    <input type="text" name="categoryFilter" [(ngModel)]="categoryFilter" placeholder="Enter category for filtering" />
  </div>
  <div class="col-md-6">
    <input type="button" (click)="getImagesByCategory()" value="Get Images by Category">
  </div>
</div>






