<div align="center">

    <form #id="ngForm" (ngSubmit)="getEmpById(id.value)">
        <table>
            <tr>
                <td align="right">Enter Employee ID</td>
                <td align="left"><input type="text" name="empId" ngModel /></td>
            </tr>
            <tr>
                <td></td>
                <td align="left"><button>GetEmployee</button></td>
            </tr>
        </table>
    </form>
</div>
<br/>

<div [ngSwitch]="flag">
    <div *ngSwitchCase="'empty'"></div>
    <div *ngSwitchCase="'find'">
        <table border="2" align="center">
            <thead>
                <tr>
                    <th>EmpId</th>
                    <th>EmpName</th>
                    <th>Salary</th>
                    <th>Gender</th>
                    <th>DateOfJoin</th>
                    <th>Country</th>
                    <th>Email-Id</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>{{emp.empId}}</td>
                    <td>{{emp.empName}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.doj}}</td>
                    <td>{{emp.country}}</td>
                    <td>{{emp.emailId}}</td>
                    <td>{{emp.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngSwitchCase="'notfind'">
        <h4 align="center">Employee record not found</h4>
    </div>
</div>
